.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.aagGpc,
.owner {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.aagGpc {
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.ownerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px 0;
}
.chainFrames,
.image23Icon {
  position: relative;
  z-index: 1;
}
.image23Icon {
  height: 49px;
  width: 53px;
  object-fit: cover;
}
.chainFrames {
  height: 50px;
  width: 1px;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.image23Parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-48xl) 0 0;
  box-sizing: border-box;
  min-width: 54px;
  gap: var(--gap-xl);
}
.chains,
.norwayFrame {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chains {
  white-space: nowrap;
}
.norwayFrame {
  color: var(--color-darkslateblue);
}
.chainsParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-48xl) 0 0;
  gap: 9px 0;
}
.garagesLocationFrames {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.garagesLocationFramesWrapper {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.garages {
  white-space: nowrap;
}
.div,
.garages {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.garagesParent,
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-2xl);
  color: var(--color-darkslateblue);
}
.garagesParent {
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-38xl) 0 0;
  gap: 9px 0;
}
.lineLocationFrames {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.lineLocationFramesWrapper {
  height: 50px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.location,
.norway {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.norway {
  color: var(--color-darkslateblue);
}
.locationParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 0;
  gap: 9px 0;
}
.garagesFrame {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.garagesFrameWrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.groupVectorIcon {
  width: 23px;
  height: 23px;
  position: relative;
  z-index: 1;
}
.groupVectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.groupIcon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.frameParent,
.groupWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupWrapper {
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.frameParent {
  width: 885px;
  flex-direction: row;
  gap: 0 20px;
  max-width: 100%;
}
.ownerGroupFrames,
.rectangleParent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  gap: var(--gap-xl);
}
.ownerGroupFrames {
  width: 1399px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-7xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1325px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frameParent {
    flex-wrap: wrap;
  }
}
