.image1Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1Wrapper {
  align-self: stretch;
  width: 208px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.vehicles {
  position: relative;
  font-weight: 500;
}
.jobCards {
  white-space: nowrap;
}
.jobCards,
.management {
  position: relative;
  font-weight: 500;
}
.frameChild {
  width: 120px;
  height: 3px;
  position: relative;
}
.managementParent {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9px 0;
}
.vectorIcon {
  width: 12px;
  height: 5px;
  position: relative;
}
.frameGroup,
.vectorWrapper {
  display: flex;
  justify-content: flex-start;
}
.vectorWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameGroup {
  flex-direction: row;
  align-items: center;
  gap: 0 6px;
  color: var(--color-darkslateblue);
}
.frameWrapper,
.vehiclesParent {
  display: flex;
  align-items: flex-start;
}
.vehiclesParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  width: 540px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.chainsFramesIcon {
  height: 25px;
  width: 25px;
  position: relative;
}
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 20px;
}
.vectorIcon2 {
  top: 3px;
  left: 19px;
  width: 12px;
  height: 5px;
}
.vectorParent {
  height: 20px;
  width: 31px;
  position: relative;
}
.chainsFramesParent,
.frameContainer {
  display: flex;
  justify-content: flex-start;
}
.chainsFramesParent {
  flex-direction: row;
  align-items: flex-end;
  gap: 0 16px;
}
.frameContainer {
  height: 71px;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent,
.ownerManagementInner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
.ownerManagementInner {
  width: 1422px;
  height: 93px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .vehiclesParent {
    display: none;
  }
  .frameWrapper {
    width: 0;
  }
}
