.frameChild {
  height: 85px;
  width: 1359px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.owner,
.robertBoschGmbh {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.robertBoschGmbh {
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.ownerParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-76xl) 0 0;
  gap: 9px 0;
}
.image21Icon {
  height: 49px;
  width: 94px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.frameItem,
.image21Parent {
  height: 50px;
  box-sizing: border-box;
}
.frameItem {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.image21Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: 0 30px;
}
.chains,
.div {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.chains {
  white-space: nowrap;
}
.div {
  color: var(--color-darkslateblue);
}
.chainsParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: 9px 0;
}
.frameInner,
.lineWrapper {
  height: 50px;
  box-sizing: border-box;
}
.frameInner {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.garages {
  white-space: nowrap;
}
.div1,
.garages {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.garagesParent,
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  color: var(--color-darkslateblue);
}
.garagesParent {
  flex-direction: column;
  align-items: center;
  gap: 9px 0;
}
.lineContainer,
.lineDiv {
  height: 50px;
  box-sizing: border-box;
}
.lineDiv {
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  z-index: 1;
}
.lineContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.germany,
.location {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.germanyWrapper {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  color: var(--color-darkslateblue);
}
.frameParent,
.germanyWrapper,
.locationParent {
  display: flex;
  align-items: flex-start;
}
.locationParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px 0;
}
.frameParent {
  width: 734px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.ownerGroupVector {
  width: 1px;
  height: 50px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.ownerGroupVectorWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
}
.groupIcon,
.searchVectorIcon {
  height: 23px;
  width: 23px;
  position: relative;
  z-index: 1;
}
.groupIcon {
  width: 24px;
  height: 24px;
}
.groupWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.frameGroup,
.ownerGroupFrames,
.rectangleParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameGroup {
  height: 50px;
  align-items: center;
  gap: 0 20px;
}
.ownerGroupFrames,
.rectangleParent {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-gainsboro-300);
  align-items: flex-end;
  padding: var(--padding-lgi) var(--padding-21xl) var(--padding-base)
    var(--padding-42xl);
  gap: var(--gap-46xl);
}
.ownerGroupFrames {
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-7xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1325px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: var(--gap-46xl);
  }
}
@media screen and (max-width: 450px) {
  .ownerParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: var(--gap-46xl);
  }
}
