@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray-100: #9a9a9a;
  --color-darkgray-200: #969696;
  --color-gainsboro-100: #dedede;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: #d8d8d8;
  --color-darkslateblue: #0b4f98;
  --color-gray-100: rgba(147, 138, 134, 0.8);
  --color-gray-200: rgba(0, 0, 0, 0.8);

  /* Border radiuses */
  --br-3xs: 10px;
}
